<!-- footer section starts -->
<section class="footer">
    <div class="share">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-pinteres"></a>
    </div>
    <div class="links">
        <a href="/index">Home</a>
        <a href="/menu">Products</a>
        <a href="/index">Reviews</a>
        <a href="/index">Contact</a>
        <a href="/order">Order</a>
    </div>
    <p>&copy; 2023 Apollo Coffee. All rights reserved.</p>
</section>
<!-- footer section ends -->