<!-- header section starts-->

<header class="header">
    <a href="/index" class="logo"> <i class="fas fa-coffee"></i> APOLLO</a>
    <nav class="navbar">
        <a href="/index">Home</a>
        <a href="/menu">Products</a>
        <a href="/order">Order</a>

    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Type to search..." />
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/coffee1.png" alt="" />
            <div class="content">
                <h3>Latte</h3>
                <span class="price">5$/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/coffee2.png" alt="" />
            <div class="content">
                <h3>White Mocha</h3>
                <span class="price">6$/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/coffee3.png" alt="" />
            <div class="content">
                <h3>Americano</h3>
                <span class="price">4$/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="total">total : $15</div>
        <a href="#" class="btn">Check out</a>
    </div>

    <form action="" class="login-form">
        <a href="/login">
            <h3>LOGIN</h3>
        </a>
        <a href="/signup">
            <h3>SIGN UP</h3>
        </a>

    </form>

</header>
<script src=" js/script.js "></script>

<!-- header section ends-->