<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <!-- menu section starts -->
    <section class="menu " id="menu ">
        <br><br><br><br>
        <h1 class="heading ">OUR <span> MENU</span></h1>
        <div class="box-container ">
            <div class="box ">
                <img src="/image/coffee1.png " alt=" " />
                <h3>Latte</h3>
                <div class="price ">6$</div>
                <a href="# " class="btn ">Add to cart</a>
            </div>
            <div class="box ">
                <img src="/image/coffee2.png " alt=" " />
                <h3>White Mocha</h3>
                <div class="price ">7$</div>
                <a href="# " class="btn ">Add to cart</a>
            </div>
            <div class="box ">
                <img src="/image/coffee3.png " alt=" " />
                <h3>Americano</h3>
                <div class="price ">5$</div>
                <a href="# " class="btn ">Add to cart</a>
            </div>
            <div class="box ">
                <img src="/image/coffee4.png " alt=" " />
                <h3>Mocha</h3>
                <div class="price ">7$</div>
                <a href="# " class="btn ">Add to cart</a>
            </div>
            <div class="box ">
                <img src="/image/coffee5.png " alt=" " />
                <h3>Cappuccino</h3>
                <div class="price ">6$</div>
                <a href="# " class="btn ">Add to cart</a>
            </div>
        </div>
    </section>
    <!-- menu section ends -->
    <footer class="footer text-faded text-center py-5">
        <%- include('partials/footer') %>
    </footer>
    <script src=" js/script.js "></script>
</body>

</html>